:root {
    --bs-dark: #171717;
    --bs-dark-rgb: 28,28,28;
    --bs-border-radius: 0;
}
.btn {
    --bs-btn-border-radius: 0;
}
body {
    background-color: #111111;
}
.col-lg-8 {
    font-size: 90%;
    font-family: "ScalySans";
}
/* .card-body {
    background-color: #131313;
} */
.card #spellOutput{
    filter: invert() hue-rotate(180deg);
    .tableBody tr:nth-child(odd) {
        background-color: #d6d6d6;
    }
    .tableBody tr:nth-child(even) {
        background-color: #e9e9e9;
    }
}
.spell-item {
    cursor: pointer;
    &:hover {
        filter: brightness(1.5);
        transform-origin: center center;
        .row {
            transform: translateX(1em);
        }
    }
    .row {
        transition: transform 0.05s linear;
    }
}
.input-group {
    & input, & input::placeholder {
        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
        opacity: 1;
    }
    > * {
        border-radius: 0 !important;
    }
}

#spellListHeaders {
    /* position: absolute;
    top:0; */
    width: 100%;
    z-index: 2;
    flex: 0;
    height: auto;
    border-bottom: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) 1px solid;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
    .row {
        height: 3em;
        padding: 0.5em 1em;
        margin: 0;
        div {
            margin-top: 0;
        }
    }
}
#spellOptions {
    min-height: 0;
    flex: 1;
}
#spellListContainer {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px -5px 5px rgba(0,0,0,0.4) inset;
        pointer-events: none; 
    }
}
input[type='search']::-webkit-search-cancel-button {
  filter: grayscale(1) brightness(500%);
}
.cursor-pointer {
    cursor: pointer;
}
#magnifyingGlass {
    overflow: hidden;
    width: calc(1em + 24px);
    z-index: 6;
    transition: width 0.05s;
}
input:focus + #magnifyingGlass {
    width: 0;
    border-left: 0;
}
.filter-pill {
    transition: filter 0.1s;
    &:hover {
        filter: brightness(0.8);
    }
}
.close-button {
    color: var(--bs-light);
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
}
.modal-body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    .badge {
        margin-right: 0.5em;
    }
}