<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Spell List | Runiformity's Websites</title>
  <meta name="description" content="A configurable Dungeon Master's Screen for resources and keeping track of combat">
  <meta name="author" content="runiformity173">
  <link href="/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="spell.css" rel="stylesheet" type="text/css" />
  <link href="fonts.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <div id="main">
    <div class="spell-display">
      
    </div>
  </div>
  <script src="../data.js"></script>
  <script src="displaySpell.js"></script>
</body>
</html>